body {
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: 'Lora', serif;
  background-color: #FFCC70;
  opacity: 0.9;


}

.page-header {
  padding-top: 5px;
  margin-top: 0px;
  width: 1280px;
  height: 100px;
  box-shadow: 0px 1px 5px #555;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  display: flex;
  /* justify-content: center; */


}
.page-header h1{
  align-self:baseline;
}
.score-wrapper {
align-self:flex-start;
}
.page-body{
display: flex;
justify-content: center;
flex-direction: row;

}

.genre-column {
  display: flex;
  flex-direction: row

}


.card {
  width: 240px;
  height: 120px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-size: 16px;

}

.true-button {
  background-color: #63b36e;
}

.false-button {
  background-color: #aa231e;
}

button {
  margin: 5px;
}
.correct-answer {
  background-color: #f18760;
}

.wrong-answer {
  background-color: #c73b1e;
}
